<div class="span8 offset2">
    <div class="row">
        <div class="span12">
            <div class="well well-small" ng-repeat="missatge in missatges">{{missatge.missatge}}</div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="input-append input-block-level">
              <input class="input-block-level" id="appendedInputButtons" ng-model="missatge" type="text">
              <button class="btn" type="button" ng-click="enviar()">Enviar</button>
            </div>
        </div>
    </div>
    
</div>
